@model SportsStore.Domain.Entities.ShippingDetails
@{
    ViewBag.Title = "Sklep sportowy: Wysyłka";
}

<h2>Wysyłka</h2>
Proszę podać swoje dane, a towar zostanie natychmiast wysłany!
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Wysyłka dla</h3>
    <div>Nazwisko: @Html.EditorFor(x => x.Name)</div>

    <h3>Adres</h3>

    <div>Wiersz 1: @Html.EditorFor(x => x.Line1)</div>
    <div>Wiersz 2: @Html.EditorFor(x => x.Line2)</div>
    <div>Wiersz 3: @Html.EditorFor(x => x.Line3)</div>
    <div>Miasto: @Html.EditorFor(x => x.City)</div>
    <div>Kod pocztowy: @Html.EditorFor(x => x.ZipCode)</div>

    <h3>Opcje</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)
        Pakowanie prezentu
    </label>

    <p align="center">
        <input class="actionButtons" type="submit" value="Zakończ zamówienie"/>
    </p>
}

